################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DS.WEB/bin/Debug/net6.0
/DS.WEB/obj
