@page
@model DS.WEB.Pages.Disciplina.AterrissagemDisciplinaModel
@{
    Layout = "_LayoutAterrissagem";
    ViewData["tituloFuncao"] = "Disciplinas";
}
<div class="row">
    <div class="col-xl-12">
        <vc:grid options="@(Html.GridOptions(m => m.Disciplinas)
                                .AddColumn(c => c.Bound(m => m.Nome)))"></vc:grid>
    </div>
</div>

<script defer>
EventDomContentLoaded(async () => {
    await pesquiseDisciplina();

    const botaoCadastrar = document.getElementById('cadastrar');
    botaoCadastrar.addEventListener('click', (ev) => {
        ev.preventDefault();
        window.location.href = '/Disciplina/Cadastrar';
    })
})

async function pesquiseDisciplina() {
    debugger;
    const optionsFetch = {
        url: `${APIHelper.LocalHostDisciplina}/classes`,
        method: "GET"
    }
    const resposta = await postJSON(optionsFetch);
    if (resposta) {
        const disciplinas = resposta.map(disciplina => {
            return {
                    Nome: disciplina.name,
                Matricula: 1
            }
        });
            Grid_Disciplinas.addRange(disciplinas);
    }
}
</script>