@page
@model DS.WEB.Pages.Disciplina.AterrissagemDisciplinaModel
@{
    Layout = "_LayoutAterrissagem";
    ViewData["tituloFuncao"] = "Disciplinas";
}
<div class="row">
    <div class="col-xl-12">
        <vc:grid options="@(Html.GridOptions(m => m.Disciplinas)
                                .AddColumn(c => c.Bound(m => m.Nome))
                                .AddColumn(c => c.Bound(m => m.Horario))
                                .AddColumn(c => c.Bound(m => m.CargaHoraria).FlexBasis(300))
                                .AddAction(a => a.Remover().AoClicar("aoRemoverDisciplina"))
                                .AddAction(a => a.Editar().AoClicar("aoEditarDisciplina"))
                                .AddAction(a => a.AdicionarAluno().AoClicar("adicionarAlunoDisciplina")))"></vc:grid>
    </div>
</div>

<script defer>
EventDomContentLoaded(async () => {
    await pesquiseDisciplina();

    const botaoCadastrar = document.getElementById('cadastrar');
    botaoCadastrar.addEventListener('click', (ev) => {
        ev.preventDefault();
        window.location.href = '/Disciplina/Cadastrar';
    })
})

async function pesquiseDisciplina() {
    const optionsFetch = {
        url: `${APIHelper.LocalHostDisciplina}/classes`,
        method: "GET"
    }
    const resposta = await postJSON(optionsFetch);
    if (resposta) {
        const disciplinas = resposta.map(disciplina => {
            return {
                Nome: disciplina.name,
                Id: disciplina.id,
                Horario: disciplina.schedules,
                CargaHoraria: disciplina.total_hours + " hrs"
            }
        });
            Grid_Disciplinas.addRange(disciplinas);
    }
}

    function adicionarAlunoDisciplina(row) {
        window.location.href = `/Disciplina/AdicionarAlunoDisciplina?id=${row.Id}&nome=${row.Nome}`
    }

    function aoEditarDisciplina(row)
    {
        window.location.href = `/Disciplina/Cadastrar?id=${row.Id}`
    }

    function aoRemoverDisciplina(row){
        new Modal().confirmacao('Tem certeza que deseja excluir a disciplina selecionada ?', () => {
            aoConfirmarRemocaoDisciplina(row);
        }).render();

    }

    async function aoConfirmarRemocaoDisciplina(row){
        const options = {
            url: `${APIHelper.LocalHostDisciplina}/classes/${row.Id}`,
            method: "DELETE"
        }
        const resposta = await postJSON(options);

        if (resposta) {
            Grid_Disciplinas.remove(row);
            new Modal().sucesso('Disciplina excluida com sucesso').render();
        }
    }

</script>