@page
@model DS.WEB.Pages.Aluno.AterrissagemAlunoModel
@{
    Layout = "_LayoutAterrissagem";
    ViewData["tituloFuncao"] = "Alunos";
}

<div class="row">
    <div class="col-xl-12">
        <vc:grid options="@(Html.GridOptions(m => m.Alunos)
                                 .AddColumn(c => c.Bound(m => m.Matricula).FlexBasis(200))
                                 .AddColumn(c => c.Bound(m => m.Nome))
                                 .AddAction(a => a.Remover().AoClicar("aoRemoverAluno"))
                                 .AddAction(a => a.Editar().AoClicar("aoEditarAluno")))"></vc:grid>

    </div>
</div>

<script defer>
EventDomContentLoaded(async () => {
    await pesquiseAlunos();

    const botaoCadastrar = document.getElementById('cadastrar');
    botaoCadastrar.addEventListener('click', (ev) => {
        ev.preventDefault();
        window.location.href = '/Aluno/Cadastrar';
    })
})

async function pesquiseAlunos() {
    debugger;
    const optionsFetch = {
        url: `${APIHelper.LocalHost}/Aluno`,
        method: "GET"
    }
    const resposta = await postJSON(optionsFetch);
    if (resposta.data) {
        const alunos = resposta.data.map(aluno => {
            return {
                Nome: aluno.nome,
                Matricula: aluno.matricula,
                Id: aluno.id
            }
        });
        Grid_Alunos.addRange(alunos);
    }
}

function aoEditarAluno(row)
{
    window.location.href = `/Aluno/Cadastrar?id=${row.Id}`
}

function aoRemoverAluno(row) 
{
    new Modal().confirmacao("Tem certeza que deseja remover o aluno selecionado ?", (ev) => {
        ev.preventDefault();
        confirmeRemocaoAluno(row);
    }).render();
}
async function confirmeRemocaoAluno(row) 
{
    debugger;
    const optionsFetch = {
        url: `${APIHelper.LocalHost}/Aluno`,
        data: {
            Id: row.Id
        },
        method: "DELETE"
    }
    const resposta = await postJSON(optionsFetch);
    if (resposta.data) {
        new Modal().sucesso('Aluno excluido com sucesso').render();
        Grid_Alunos.remove(row);
    }
}
</script>